# Mac Ignore Files
**/.DS_Store
/Mac/_builds/app/**
/Mac/_builds/dmg/**
/Mac/_builds/pkg/**

# Windows Ignore Files
**/Thumbs.db
/Windows/_builds/installer/**
/Windows/_builds/launcher/**
/Windows/_builds/cnc-ddraw/**
/Windows/_builds/game-editors/**
/Windows/_builds/game-initial-assets/**

# Linux Ignore Files
*.snap

# Global
!**/.gitkeep
