# Mac Ignore Files
**/.DS_Store
/Mac/_builds/app/**
/Mac/_builds/dmg/**
/Mac/_builds/pkg/**

# Windows Ignore Files
/Windows/_builds/installer/**
/Windows/_builds/launcher/**
/Windows/_builds/cnc-ddraw/**

# Linux Ignore Files
*.snap

# Global
!**/.gitkeep